manifest {
    name = 'TarGene'
    author = 'Olivier Labayle'
    homePage = 'https://github.com/TARGENE/targene-pipeline'
    description = 'Pipeline for the estimation of genetic effects using Targeted Learning'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04'
    version = '0.11.0'
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
    ci {
        includeConfig 'conf/ci.config'
    }
    local {
        includeConfig 'conf/local.config'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    gls {
        includeConfig 'conf/gls.config'
    }
    allofus {
        includeConfig 'conf/allofus.config'
    }
}

