params {
    ASB_FILES = "test/data/asb_files/*"
    TRANS_ACTORS_FILE = "test/data/trans_actors_fake.csv"
    THRESHOLD = 0.9
    MAF_THRESHOLD = 0.01
    UKBB_BGEN_FILES = "test/data/ukbb/imputed/ukb_*"
    UKBB_BED_FILES = "test/data/ukbb/genotypes/ukb_*.{bed,bim,fam}"
    QC_FILE = "test/data/ukbb/qcfile.txt"
    LD_BLOCKS = "test/data/VDR_LD_blocks.txt"
    FLASHPCA_EXCLUSION_REGIONS = "test/data/exclusion_regions_hg19.txt"
    NB_PCS = 6
    SNPS_EXCLUSION_LIST = "NO_FILE"
}

 
profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
}

process {
    memory = '8G'

    withLabel: bigmem {
        memory = '32G'
    }
    
}