manifest {
    name = 'TL-Pipeline'
    author = 'Olivier Labayle'
    homePage = 'https://github.com/olivierlabayle/UKBBEpistasisPipeline.jl'
    description = 'Pipeline for the estimation of genetic interaction effects using the UK-biobank'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version = '0.2.0'
}

process {
    memory = '8G'
    cpus = 2

    withLabel: bigmem {
      memory = '40G'
    }

    withLabel: multithreaded {
        cpus = 10
    }

}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
    ci {
        includeConfig 'conf/ci.config'
    }
    local {
        includeConfig 'conf/local.config'
    }
}