params {
    BED_FILES = "/home/jupyter/targene-pipeline/test/assets/unphased_bed/ukb_chr{1,2,3}.{bed,bim,fam}"
    BGEN_FILES = "/home/jupyter/targene-pipeline/test/assets/unphased_bgen/ukb_chr{1,2,3}.{bgen,bgen.bgi,sample}"
    ESTIMATOR_FILE = "/home/jupyter/targene-pipeline/test/assets/estimator.jl"
    STUDY_DESIGN = "FROM_ACTORS"
    TRAITS_DATASET = "/home/jupyter/targene-pipeline/test/assets/traits.csv"
    COHORT = "CUSTOM"
    SVP = true
    NB_SVP_ESTIMATORS = 10
    PVAL_THRESHOLD = 1
    BQTLS = "/home/jupyter/targene-pipeline/test/assets/actors/bqtls_multiple_TFs.csv"
    TRANS_ACTORS = "/home/jupyter/targene-pipeline/test/assets/actors/eqtls_multiple_TFs.csv"
    GRM_NSPLITS = 10
}

process {
  withLabel: bigmem {
    memory = '10G'
  }

}
