process {
    memory = { 6.GB * task.attempt }
    time = { 48.hour }
    cpus = { 1 * task.attempt }

    withLabel: multithreaded {
        memory = { 8.GB * task.attempt }
        time = { 48.hour }
        cpus = { 2 * task.attempt }
    }

    withLabel: bigmem {
        memory = { 25.GB * task.attempt }
        cpus = { 4 * task.attempt }
    }

    // Set google appropriate error strategy
    errorStrategy = {task.exitStatus in [143,137,104,134,139,14] ? 'retry' : 'finish'}
    maxRetries = 5

}

includeConfig 'allofus_container.config'
