includeConfig 'base.config'
includeConfig 'container.config'

process {
    // Override CPUs based on task memory
    cpus = { ->
        def mem = task.memory.toMega()
        def cpus = Math.max(1, Math.ceil(mem / 6144).intValue())
        if (cpus > 1 && cpus % 2 != 0) {
            cpus += 1
        }
        cpus
    }

    // Set google appropriate error strategy
    errorStrategy = { task.exitStatus in [14, 104, 134, 137, 139, 140, 143, 151] ? 'retry' : 'finish' }
    maxRetries = 3

}
