includeConfig 'base.config'
includeConfig 'container.config'

// Define the number of CPUs based on memory requested
def calculateCpus(memory) {
    def mem
    if (memory instanceof nextflow.util.MemoryUnit) {
        mem = memory.toMega()
    } else {
        error "Memory not formatted correctly. Please specify memory as MemoryUnit."
    } 
    // Google Cloud Platform (GCP) restricts a maximum of 6 GB (6144 MB) provided per-CPU 
    // Compute # of CPUs based on this (1 CPU minimum required)
    def cpus = Math.max(1, Math.ceil(mem / 6144).intValue()) 

    // # of CPUs required to be even by GCP for tasks with CPUs > 1
    if (cpus > 1) {
        cpus = cpus + (cpus % 2)
    }

    return cpus
}

process {
    // Override CPUs based on task memory
    cpus = { calculateCpus(task.memory) }

    withLabel: multithreaded {
        cpus = { calculateCpus(task.memory) }
    }

    withLabel: bigmem {
        cpus = { calculateCpus(task.memory) }
    }

    // Set google appropriate error strategy
    errorStrategy = {task.exitStatus in [143,137,104,134,139,14,140,151] ? 'retry' : 'finish'}
    maxRetries = 3

}
