process {
    container = "us-central1-docker.pkg.dev/all-of-us-rw-prod/aou-rw-gar-remote-repo-docker-prod/roskamsh/commandlinetools:0.1.1"

    withLabel: simulation_image {
        container = "us-central1-docker.pkg.dev/all-of-us-rw-prod/aou-rw-gar-remote-repo-docker-prod/olivierlabayle/targene-simulations:0.0"
    }
    withLabel: targenecore_image {
        container = "us-central1-docker.pkg.dev/all-of-us-rw-prod/aou-rw-gar-remote-repo-docker-prod/olivierlabayle/tl-core:0.10"
    }
    withLabel: ukb_image {
        container = "us-central1-docker.pkg.dev/all-of-us-rw-prod/aou-rw-gar-remote-repo-docker-prod/olivierlabayle/ukbmain:0.5"
    }
    withLabel: tmle_image {
        container = "us-central1-docker.pkg.dev/all-of-us-rw-prod/aou-rw-gar-remote-repo-docker-prod/olivierlabayle/targeted-estimation:0.10"
    }
    withLabel: plink_image {
        container = "us-central1-docker.pkg.dev/all-of-us-rw-prod/aou-rw-gar-remote-repo-docker-prod/olivierlabayle/plink2:0.1.0"
    }
    withLabel: pca_image {
        container = "us-central1-docker.pkg.dev/all-of-us-rw-prod/aou-rw-gar-remote-repo-docker-prod/roskamsh/flashpca:0.1.0"
    }
}
