process {
    memory = { 8.GB * task.attempt }
    time = { 24.hour * task.attempt }
    cpus = 1
    maxSubmit = 1950

    withLabel: multithreaded {
        memory = { 8.GB * task.attempt }
        time = { 48.hour * task.attempt }
        cpus = 2
    }

    withLabel: bigmem {
        memory = { 50.GB * task.attempt }
        time = { 48.hour * task.attempt }
        cpus = 1
    }
    
    withName: TMLE {
        memory = { 30.GB * task.attempt }
        time = { 48.hour * task.attempt }
    }

    withName: EstimationInputs {
        memory = { 150.GB * task.attempt }
        time = { 48.hour * task.attempt }
        cpus = 10
    }
}