process {
    memory = { 8.GB * task.attempt }
    time = { 48.hour * task.attempt }
    cpus = 1

    withLabel: multithreaded {
        memory = { 8.GB * task.attempt }
        time = { 48.hour * task.attempt }
        cpus = 2
    }

    withLabel: bigmem {
        memory = { 16.GB * task.attempt }
        time = { 48.hour * task.attempt }
        cpus = 1
    }
}