process {
    withLabel: simulation_image {
        container = "olivierlabayle/targene-simulations:ps_simulation"
    }
    withLabel: targenecore_image {
        container = "olivierlabayle/tl-core:loco-gwas"
    }
    withLabel: ukb_image {
        container = "olivierlabayle/ukbmain:0.4"
    }
    withLabel: tmle_image {
        container = "olivierlabayle/targeted-estimation:main"
    }
    withLabel: plink_image {
        container = "olivierlabayle/plink2:0.1.0"
    }
    withLabel: pca_image {
        container = "ktetleycampbell/flashpca:1.0"
    } 
}