process {
    withLabel: simulation_image {
        container = "olivierlabayle/targene-simulations:sha-4675c11"
    }
    withLabel: targenecore_image {
        container = "olivierlabayle/tl-core:sha-8537b08"
    }
    withLabel: ukb_image {
        container = "olivierlabayle/ukbmain:0.4"
    }
    withLabel: tmle_image {
        container = "olivierlabayle/targeted-estimation:sha-7574a20"
    }
    withLabel: plink_image {
        container = "olivierlabayle/plink2:0.1.0"
    }
    withLabel: pca_image {
        container = "ktetleycampbell/flashpca:1.0"
    } 
}