process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'
    scratch = true

    beforeScript = """
    . /etc/profile.d/modules.sh
    module load roslin/singularity/3.5.3
    # workaround to make non-sandbox mode work, SGE sets this variable
    # to the root user runtime directory, causing permission issues
    unset XDG_RUNTIME_DIR
    export SINGULARITY_TMPDIR="\$TMPDIR"
    """

}

executor {
    queueSize = 200
}

singularity {
    runOptions = '-p -B /local'
}

