params {
  config_profile_description = 'University of Edinburgh (eddie) cluster profile for Singularity.'
  config_profile_url = 'https://www.wiki.ed.ac.uk/pages/viewpage.action?spaceKey=ResearchServices&title=Bioinformatics'
}

executor {
  // Use the SGE executor
  name = "sge"

  // Set the default maximum number of submitted jobs to 100
  queueSize = 1000
}

process {
  // Set h_vmem to memory / cpus, and use the correct parallel environment (not set if cpus = 1)
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus}" : null }
  penv = { task.cpus > 1 ? "sharedmem" : null }

  // Use $TMPDIR for process execution
  scratch = true

  // Attempt to retry up to 3 times if one of these common SGE error statuses is returned
  errorStrategy = {task.exitStatus in [143,137,104,134,139,140,151] ? 'retry' : 'finish'}
  maxRetries = 3

  // No maximum number of errors for a process across all instances
  maxErrors = '-1'

  time = { 10.hour }
  
  withName: TMLE { 
      memory = { 20.GB * task.attempt }
      time = { 10.hour * task.attempt }
      cpus = 1
  }
  withLabel: bigmem {
    memory = { 50.GB * task.attempt }
    time = { 10.hour * task.attempt }
  }

  withName: UKBFieldsList {
      memory = { 16.GB * task.attempt }
      time = { 10.hour * task.attempt }
  }

  // change singularity module
  beforeScript =
  """
  . /etc/profile.d/modules.sh
  module load igmm/apps/singularity/3.8.7
  export SINGULARITY_TMPDIR="\$TMPDIR"
  """
}

env {
  // Required for Java processes
  MALLOC_ARENA_MAX = 1
}

singularity {
  runOptions = '-p -B "$TMPDIR"'
}

includeConfig 'singularity.config'
includeConfig 'base.config'
includeConfig 'container.config'