params {
  config_profile_description = 'University of Edinburgh (eddie) cluster profile for Singularity.'
  config_profile_url = 'https://www.wiki.ed.ac.uk/pages/viewpage.action?spaceKey=ResearchServices&title=Bioinformatics'
}

executor {
  // Use the SGE executor
  name = "sge"

  // Set the default maximum number of submitted jobs to 100
  queueSize = 500
}

process {
  // Set h_vmem to memory / cpus, and use the correct parallel environment (not set if cpus = 1)
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus}" : null }
  penv = { task.cpus > 1 ? "sharedmem" : null }

  // Use $TMPDIR for process execution
  scratch = true

  // Attempt to retry up to 3 times if one of these common SGE error statuses is returned
  errorStrategy = {task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish'}
  maxRetries = 3

  // No maximum number of errors for a process across all instances
  maxErrors = '-1'

  // Load Singularity and correctly set the container unpacking $TMPDIR environment variable
  beforeScript =
  """
  . /etc/profile.d/modules.sh
  module load 'singularity'
  export SINGULARITY_TMPDIR="\$TMPDIR"
  """

  withName: SieveVarianceEstimation {
      cpus = 30
      memory = '2000G'
      clusterOptions = { task.memory ? "-l mem_free=20G,h_vmem=${task.memory.bytes/task.cpus}" : null }
  }

}

env {
  // Required for Java processes
  MALLOC_ARENA_MAX = 1
}

singularity {
  // Correctly set the temporary directory environment variables and isolate PIDs
  envWhitelist = "SINGULARITY_TMPDIR,TMPDIR"
  runOptions = '-p -B "$TMPDIR"'
  enabled = true
  autoMounts = true
}
