process {
  // Use $TMPDIR for process execution
  scratch = true
}

env {
  // Required for Java processes
  MALLOC_ARENA_MAX = 1
}

singularity {
  // Correctly set the temporary directory environment variables and isolate PIDs
  envWhitelist = "SINGULARITY_TMPDIR,TMPDIR"
  runOptions = '-p -B "$TMPDIR"'
  enabled = true
  autoMounts = true
}
