params {
    STUDY_DESIGN = "FROM_ACTORS" 
    ESTIMANDS_FILE = "test/data/parameters/parameters.yaml" 
    DECRYPTED_DATASET = "test/data/traits.csv"
    COHORT = "CUSTOM"
    BED_FILES = "test/data/unphased_bed/ukb_chr{1,2,3}.{bed,bim,fam}"
    BGEN_FILES = "test/data/unphased_bgen/ukb_chr{1,2,3}.{bgen,bgen.bgi,sample}"
    NB_PCS = 6
    TRAITS_CONFIG = "test/data/ukbconfig_small.yaml"
    ESTIMATORFILE = "test/data/estimator.jl"
    NB_SVP_ESTIMATORS = 10
    PVAL_THRESHOLD = 1
    BQTLS = "test/data/actors/bqtls_multiple_TFs.csv"
    TRANS_ACTORS = "test/data/actors/eqtls_multiple_TFs.csv"
    ORDERS = "1,2"
    POSITIVITY_CONSTRAINT = 0.01
    GRM_NSPLITS = 10
    BATCH_SIZE = 400
    MAX_PERMUTATION_TESTS = 100
    MAF_MATCHING_RELTOL = 0.9

}
