params {
    PARAMETER_PLAN = "FROM_PARAM_FILES" 
    PARAMETER_FILES = "test/data/parameters/parameter_*" 
    DECRYPTED_DATASET = "test/data/dataset.csv"
    UKBB_BED_FILES = "test/data/bed/ukb_chr{1,2,3}.{bed,bim,fam}"
    UKBB_BGEN_FILES = "test/data/bgen/ukb_chr{1,2,3}.{bgen,bgen.bgi,sample}"
    QC_FILE = "test/data/qc_file.csv"
    LD_BLOCKS = "test/data/ld_blocks.txt"
    FLASHPCA_EXCLUSION_REGIONS = "test/data/exclusion_regions_hg19.txt"
    WITHDRAWAL_LIST = "test/data/withdrawal_list.txt"
    NB_PCS = 6
    TRAITS_CONFIG = "test/data/ukbconfig_small.yaml"
    ESTIMATORFILE = "test/data/estimator.yaml"
    NB_VAR_ESTIMATORS = 0
}