params {
    PARAMETER_PLAN = "FROM_ACTORS" 
    DECRYPTED_DATASET = "test/data/dataset.csv"
    UKBB_BED_FILES = "test/data/bed/ukb_chr{1,2,3}.{bed,bim,fam}"
    UKBB_BGEN_FILES = "test/data/bgen/ukb_chr{1,2,3}.{bgen,bgen.bgi,sample}"
    QC_FILE = "test/data/qc_file.csv"
    LD_BLOCKS = "test/data/ld_blocks.txt"
    FLASHPCA_EXCLUSION_REGIONS = "test/data/exclusion_regions_hg19.txt"
    WITHDRAWAL_LIST = "test/data/withdrawal_list.txt"
    NB_PCS = 6
    TRAITS_CONFIG = "test/data/ukbconfig_small.yaml"
    ESTIMATORFILE = "test/data/estimator.yaml"
    NB_VAR_ESTIMATORS = 10
    PVAL_SIEVE = 1
    BQTLS = "test/data/actors/bqtls.csv"
    TRANS_ACTORS = "test/data/actors/eqtls.csv"
    ORDERS = "1,2"
    POSITIVITY_CONSTRAINT = 0.01
    GRM_NSPLITS = 10
}

process {
    withName: SieveVarianceEstimation {
      cpus = 4
      memory = '10G'
      clusterOptions = { task.memory ? "-l mem_free=20G,h_vmem=${task.memory.bytes/task.cpus}" : null }
  }
}