params {
    STUDY_DESIGN = "FROM_ACTORS" 
    DECRYPTED_DATASET = "test/data/dataset.csv"
    COHORT = "UKBB"
    BED_FILES = "test/data/unphased_bed/ukb_chr{1,2,3}.{bed,bim,fam}"
    BGEN_FILES = "test/data/unphased_bgen/ukb_chr{1,2,3}.{bgen,bgen.bgi,sample}"
    QC_FILE = "test/data/qc_file.csv"
    LD_BLOCKS = "test/data/ld_blocks.txt"
    WITHDRAWAL_LIST = "test/data/withdrawal_list.txt"
    TRAITS_CONFIG = "test/data/ukbconfig_small.yaml"
    ESTIMATOR_FILE = "test/data/estimator.jl"
    PVAL_THRESHOLD = 1
    BQTLS = "test/data/actors/bqtls.csv"
    TRANS_ACTORS = "test/data/actors/eqtls.csv"
    POSITIVITY_CONSTRAINT = 0.01
    GRM_NSPLITS = 10
    MAX_PERMUTATION_TESTS = 100
    MAF_MATCHING_RELTOL = 0.9
    N_RANDOM_VARIANTS = 5
}
