params {
    PARAMETER_PLAN = "FROM_PARAM_FILE" 
    PARAMETER_FILE = "test/data/parameters/parameters.yaml" 
    DECRYPTED_DATASET = "test/data/dataset.csv"
    COHORT = "UKBB"
    BED_FILES = "test/data/unphased_bed/ukb_chr{1,2,3}.{bed,bim,fam}"
    BGEN_FILES = "test/data/unphased_bgen/ukb_chr{1,2,3}.{bgen,bgen.bgi,sample}"
    QC_FILE = "test/data/qc_file.csv"
    LD_BLOCKS = "test/data/ld_blocks.txt"
    WITHDRAWAL_LIST = "test/data/withdrawal_list.txt"
    NB_PCS = 6
    TRAITS_CONFIG = "test/data/ukbconfig_small.yaml"
    ESTIMATORFILE = "test/data/estimator.jl"

    POSITIVITY_CONSTRAINT = 0.0
}
