includeConfig 'base.config'

params {
    STUDY_DESIGN = "FROM_ACTORS" 
    TRAITS_DATASET = "test/data/traits.csv"
    COHORT = "CUSTOM"
    SVP = true
    NB_SVP_ESTIMATORS = 10
    PVAL_THRESHOLD = 1
    BQTLS = "test/data/actors/bqtls_multiple_TFs.csv"
    TRANS_ACTORS = "test/data/actors/eqtls_multiple_TFs.csv"
    GRM_NSPLITS = 10
}
