includeConfig 'base.config'

params {
    ESTIMANDS_CONFIG = "${projectDir}/test/assets/flat_config.yaml"
    COHORT = "CUSTOM"
    TRAITS_DATASET = "${projectDir}/test/assets/traits.csv"
    SVP = true
    NB_SVP_ESTIMATORS = 10
    PVAL_THRESHOLD = 1
    GRM_NSPLITS = 10
    ESTIMATOR_CONFIG = "${projectDir}/test/assets/estimator.jl"
    ESTIMATOR_KEY = "OSE"
}