includeConfig 'ukb.config'

params {
    ESTIMANDS_FILE = "test/assets/estimands.yaml" 
    SAMPLE_GA_HITS = false // Too complicated to test otherwise
    MIN_FACTOR_LEVEL_OCCURENCES = 1

    // Grid
    N_REPEATS = 2
    RNGS = [0, 1]
    SAMPLE_SIZES = [1000]
    ESTIMATORS = ["glm"]

    // Misc
    POSITIVITY_CONSTRAINT = 0
    BATCH_SIZE = 3
    CALL_THRESHOLD = null // This is essential not to have too many missings
}