includeConfig 'ukb.config'

params {
    ESTIMANDS_FILE = "test/assets/parameters/parameters.yaml" 
    SAMPLE_GA_HITS = false // To complicated to test otherwise

    // Grid
    N_REPEATS = 3
    RNGS = [0, 1, 3]
    SAMPLE_SIZES = [1000]
    ESTIMATORS = "test/assets/estimators-configs/*"

    // Misc
    POSITIVITY_CONSTRAINT = 0
    BATCH_SIZE = 3
    VARIANTS_REGEXP = ""
    CALL_THRESHOLD = null // This is essential not to have too many missings
}