includeConfig 'base.config'

params {
    COHORT = "UKBB"
    TRAITS_DATASET = "test/assets/dataset.csv"
    QC_FILE = "test/assets/qc_file.csv"
    LD_BLOCKS = "test/assets/ld_blocks.txt"
    UKB_WITHDRAWAL_LIST = "test/assets/withdrawal_list.txt"
    UKB_CONFIG = "test/assets/ukbconfig_small.yaml"
}