includeConfig 'base.config'

params {
    COHORT = "UKB"
    TRAITS_DATASET = "${projectDir}/test/assets/dataset.csv"
    QC_FILE = "${projectDir}/test/assets/qc_file.csv"
    LD_BLOCKS = "${projectDir}/test/assets/ld_blocks.txt"
    UKB_WITHDRAWAL_LIST = "${projectDir}/test/assets/withdrawal_list.txt"
    UKB_CONFIG = "${projectDir}/test/assets/ukbconfig_small.yaml"
}