includeConfig 'ukb.config'

params {
    STUDY_DESIGN = "FROM_ACTORS" 
    JSON_OUTPUT = "results.json"
    PVAL_THRESHOLD = 1
    BQTLS = "test/data/actors/bqtls.csv"
    TRANS_ACTORS = "test/data/actors/eqtls.csv"
    MAX_PERMUTATION_TESTS = 100
    MAF_MATCHING_RELTOL = 0.9
    N_RANDOM_VARIANTS = 5
}
